<div class="min-h-[calc(100vh-85px)] w-full flex flex-col justify-start items-center">
    <form
      class="h-auto w-[90%] xs:w-[400px] md_link:w-[450px] my-10 text-white p-6 flex flex-col justify-start items-center gap-4 border border-[#fff] rounded-md bg-slate-700"
    >
      <p class="text-xl font-semibold">Signup</p>
  
      <div class="w-full flex flex-col justify-start items-start gap-2">
        <label for="name">Name</label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Name"
          class="w-full py-2 px-4 border border-white rounded-md outline-none bg-slate-600"
        />
      </div>
  
      <div class="w-full flex flex-col justify-start items-start gap-2">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Email"
          class="w-full py-2 px-4 border border-white rounded-md outline-none bg-slate-600"
        />
      </div>
  
      <div class="w-full flex flex-col justify-start items-start gap-2">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          class="w-full py-2 px-4 border border-white rounded-md outline-none bg-slate-600"
        />
      </div>
  
      <button
        type="submit"
        class="w-full py-2 px-4 text-white border border-white rounded-md hover:bg-slate-600 bg-slate-700 transition-all"
      >
        Signup
      </button>
    </form>
  </div>
  